@model IEnumerable<Group12_iCAREAPP.Models.UserPassword>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<form asp-action="Login" method="post">

    <div>
        <h3>User ID</h3>
        <input asp-for="ID" />
    </div>
    <div>
        <h3>Password</h3>
        <input asp-for="password" type="password" />
    </div>
    <button type="submit">Login</button>
</form>

